.button{
    display: flex;
    justify-content: center;
}
.card-body{
    background: linear-gradient(45deg, rgb(255, 166, 0), rgb(188, 239, 207));
}
.card:hover{
    background-color: rgb(249, 249, 249); /* Slight color change */
    transform: translateY(-10px); /* Move up */
    transition: background-color .4s ease, transform .4s ease; /* Ease animation */
}