<form [formGroup] = 'loginForm' (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"  formControlName="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
    </div>

    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</div>
        <div *ngIf="loginForm.get('email')?.errors?.['email']">invalid email format</div>
    </div>

    <div class="text-red-400 text-sm" *ngIf="loginForm?.dirty">
        <span class="block" [ngClass]="{'text-primary': loginForm.get('password')?.value?.match('^(?=.*[A-Z])')}">At least one ppercase
                                letter.</span><br>
        <span class="block" [ngClass]="{'text-primary': loginForm.get('password')?.value?.match('(?=.*[a-z])')}">At least one lowercase
                                letter.</span><br>
        <span class="block" [ngClass]="{'text-primary': loginForm.get('password')?.value?.match('(.*[0-9].*)')}">At least one
                                digit.</span><br>
        <span class="block" [ngClass]="{'text-primary': loginForm.get('password')?.value?.match('(?=.*[!@#$%^&*])')}">At least one
                                special
                                character.</span><br>
        <span class="block" [ngClass]="{'text-primary': loginForm.get('password')?.value?.match('.{8,}')}">At least 8 characters
                                long.</span>
     </div>
 
   
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
  </form>